<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Vendt, web dev 23</title>
</head>
<body>
	<img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1>Taavi Vendt</h1>
	<p>Web valmis <a href="https://www.tlu.ee"target="_blank">TLÜ</a> DTI Informaatika eriala õppetöö raames!</p>
	<hr>
	<p>Eesti värk!</p>
	<hr>
	<ul>
		<li><a href="/timenow">Aeg praegu</a></li>
		<li><a href="/wisdom">Vanasõnad</a></li>
		<li><a href="/listnames">Nimed</a></li>
		<!--<li><a href="/eestifilm">Filmid</a></li>-->
		<li><a href="/news">Uudised</a></li>
		<li><a href="/photoupload">Fotode upload</a></li>
		<li><a href="/photogallery">Fotogalerii</a></li>
	</ul>
	<hr>
</body>
</html>