<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Vendt, web dev 23</title>
</head>
<body>
	<img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1>Fotod</h1>
	<ul>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<hr>
	<h2>Fotode üleslaadimine</h2>
	<form method="POST" enctype="multipart/form-data">
		<label for="photoInput">Vali pildi fail</label>
		<input type="file" id="photoInput" name="photoInput" required>
		<br>
		<label for="altInput">Foto alternatiivtekst</label>
		<input type="text" name="altInput" id="altInput" placeholder="Foto alt tekst...">
		<br>
		<input type="radio" id="privacyInput1" name="privacyInput" value="1" checked>
		<label for="privacyInput1">Omanik näeb</label>
		<br>
		<input type="radio" id="privacyInput2" name="privacyInput" value="2" checked>
		<label for="privacyInput2">Kasutajad näevad</label>
		<br>
		<input type="radio" id="privacyInput3" name="privacyInput" value="3" checked>
		<label for="privacyInput3">Avalik kõigile</label>
		<br>
		<input type="submit" name="photoSubmit" value="Salvesta">
	</form>
	<p><%=locals.notice || "Ootel"%></p>
</body>
</html>