<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Vendt, web dev 23</title>
</head>
<body>
	<img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1>Eesti film</h1>
	<ul>
		<li><a href="/eestifilm">Eesti filmide avaleht</a></li>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<hr>
	<form method="POST">
		<label for="movieInput">Filmi number</label>
		<input type="number" name="titel" id="..." min="1" max="<% ... %>" value="1" request>
		<br>
		<input type="submit" name="filmSubmit" value="Sisesta">
	</form>
</body>
</html>