<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Vendt, web dev 23</title>
</head>
<body>
	<img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1>Uudis</h1>
	<ul>
		<li><a href="/news/read">Uudiste lugemine</a></li>
		<li><a href="/news">Uudiste avaleht</a></li>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<hr>
	<h2>Uudis</h2>
    <% if (news) { %>
        <h3><%= news.title %></h3>
        <p>Lisatud: <%= news.added %></p>
        <p><%= news.content %></p>
    <% } else { %>
        <p>News not found</p>
    <% } %>
</body>
</html>